<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-content">
          <div class="footer-head">
            <div class="footer-logo">
              <h2 class="text-center"><span>UR</span>CV</h2>
            </div>

            <img src="img/footer.png">
            <div class="footer-icons">
              <!-- <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
      <!-- end single footer -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-content">
          <div class="footer-head">
            <h5 class="text-center">OUR PROJECTS</h5>

            <div class="footer-icons">
              <a href="http://projecte.net/">
                <div class="div col-xs-4">
                  <img src="http://www.sa2030.net/assets/img/SA2030Logo/logo3.jpg" alt="">

                </div>
                <div class="div col-xs-4"><a href="http://crtee.net/">
                    <img src="http://www.sa2030.net/assets/img/SA2030Logo/crtee.jpg" alt=""></a>

                </div>
                <div class="div col-xs-4"><a href="http://www.toglo.net/">
                    <img src="http://www.sa2030.net/assets/img/SA2030Logo/toglo.png" alt=""></a>

                </div>
                <div class="div col-xs-4"><a href="http://www.i-steps.net/">
                    <img class="img2" src="http://www.sa2030.net/assets/img/SA2030Logo/I-steps.png" alt=""></a>

                </div>
                <div class="div col-xs-4"><a href="http://v-steps.net/">
                    <img src="http://www.sa2030.net/assets/img/SA2030Logo/vsteps-1-150x150.png" alt=""></a>
                </div>
                <div class="div col-xs-4"><a href="http://www.carnivaly.net/">
                    <img src="http://www.sa2030.net/assets/img/SA2030Logo/Carnivaly.png" alt=""></a>

                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
      <!-- end single footer -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-content">
          <div class="footer-head">
            <h5 class="text-center">CREATE YOUR PROJECT</h5>
            <h4>You can select your professional busssines website from our partner <strong><a
                  href="http://projecte.net">'Projecte'</a></strong> </h4>
            <div class="flicker-img">
              <a class="width" href="http://projecte.net"><img src="http://projecte.net/img/logo.png" alt=""></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p>
              &copy; Copyright <strong>UR CV</strong>. All Rights Reserved
            </p>
          </div>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
          -->
            Designed by <a href="http://i-steps.net/">I-Steps</a>
          </div>
        </div>
      </div>
    </div>
  </div>
